@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --gutterWidth: 20px;
    --containerWidth: calc(100% - var(--gutterWidth) * 2);
    --containerMaxWidth: 1200px;
    --headerHeight: 68px;
    --footerHeight: 56px;

    @screen lg {
      --gutterWidth: 40px;
    }

    @apply font-sans text-base leading-6;
  }

  body {
    @apply bg-[#333] text-white pb-[var(--footerHeight)] max-w-[430px] mx-auto;
  }

  h1,
  .h1 {
    @apply heading text-3xl;
  }

  h2,
  .h2 {
    @apply heading text-2xl;
  }

  h3,
  .h3 {
    @apply heading text-xl;
  }

  h4,
  .h4 {
    @apply heading text-lg;
  }

  h5,
  .h5 {
    @apply heading text-lg;
  }

  h6,
  .h6 {
    @apply heading text-lg;
  }

  p {
    @apply my-0;
  }
}

@layer utilities {
  .heading {
    @apply font-bold leading-tight my-0;
  }

  .container {
    @apply w-[var(--containerWidth)] max-w-[var(--containerMaxWidth)] 
    min-w-[var(--containerMaxWidth)] mx-auto;
  }

  .base-grid {
    @apply grid grid-cols-12 gap-[var(--gutterWidth)];
  }
}
